.app {
	background-color: #1c1919;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	padding-bottom: 10em;
}

.hotpink {
	color:#069DBF;
}

#root > div.app > div.jumbotron.carousel.slide > div > div.carousel-item.active{
	background: rgba(24, 23, 23, 0.8);
	width: 90vw;
}

.centerIt {
	margin-top: 40px;
	text-align: center;
}

.txtCenter {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.centerBlock {
	margin-left: auto;
	margin-right: auto;
}

.centerTxt {
	text-align: center;
	margin-top: 0px;
}
.wide {
	width: 100%;
}

/* .rightBorder {
  background-color: white;
  height: 150px;
  margin-right: auto;
  margin-left: auto ;
  width: 50%;
  border-right: 10px solid pink;

  border-radius:
}

.leftBorder {

  border-left: 10px solid pink;
  border-top-left-radius: 30px;
} */

.loginForm {
	border-top: 10px solid #0F3240;
	border-bottom: 10px solid #0F3240;
	width: 30vw;
	height: 30%;
	padding: 100px;
	line-height: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	z-index: 1;

	/*   border-bottom-right-radius: 20px; */
	color: #069DBF;
}
/* .loginForm::after {
  border-top: 15px solid red;
} */
/* .bottomBorder {
  border-Bottom: solid 10px #FF4081 ;
  width: 49%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  margin-bottom: 10px;
} */

#loginPage {
	text-align: center;
}

.loginBox {
	margin-bottom: 20px;
}

#loginHr {
	height: 10px;
	background-color: pink;
	width: 49%;
	border-style: inset;
}

.outerCircle {
	z-index: -5;
	height: 600px;
	width: 600px;
	border-radius: 100%;
	border: 10px dotted purple;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	position: relative;
}

.loginButtons {
	background-color: #1c1919 !important;
	border-color: #069DBF !important;
	border-radius: 4px;
	color:#069DBF !important ;
	box-shadow: none;
}

.loginSmall{
	width:25%;
	color: #dc304b;
	margin-left: auto;
	margin-right: auto;
}

/* new css only registration page*/

#regForm {
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	border-width: 12px;
	border-color: #0F3240;
	border-radius: 15px;
	width: 60%;
	padding: 40px;
}

.formRegStyle {
	background-color: #1c1919;
	border-bottom: solid 2px #069DBF;
	border-top: solid 2px #069DBF;
	border-left: none;
	border-right: none;
	color: #069DBF;
	width: 80%;
}
.formRegStyle:focus {
	outline: none;
}

.formRegButton {
	background-color: #1c1919 !important;
	color: #069DBF !important;
	border: 2px solid #069DBF !important;
	border-radius: 5px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.RegistrationButtonPlace{
	margin-right:auto ;
	margin-left: auto;
}

.formRegWidth {
	width: 95%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1em;
}

#passRStyle {
	width: 40%;
}

#resetButtonPass {
	margin-top: 1em;
}
#paragraphPass {
	width: 40%;
	font-size: 14pt;
	margin-top: 20vh;
}

#resetPassEmail {
	font-size: 10pt;
}

.navMenu {
	display: flex; 
	flex-direction: column; 
	justify-content: flex-end;
	color: white; 
	margin-left: 2rem;
	margin-top: 1rem;
	font-weight: 500;

}

.navBarToggler {
	margin-bottom: 1rem ;
}

.buttonStyle{
	background-color: white ;
	border-radius: 100% ;
	color: #069DBF; 
	border: solid white 2px; 
}

.YourAppsButton{
	background-color: rgba(15,50,64, .6) !important; 
	margin-top: 1em; 
	border: solid 3px rgba(206,245,253,0.6) !important; 
}

.UserInfo {
	 
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em ;
	justify-content: space-between;
	
}
.UserBox {
	margin-top: 2em ;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: #1c1919 !important;
}

.UserTitle {
	text-align: center;
	margin-top: 1em;  
	color: white;
	font-size: 15pt; 
}

.UserButtons {
	margin-right: 1em ;
}

.UserListBorder {
	padding-bottom: 10px; 
	border-bottom:#069DBF solid 5px;
	
}
